@page "/admin/hostel-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IHostelAdminRepository HostelAdminRepository
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Hostel List</PageTitle>

<section>
  <h1>Hostel List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Name</th>
              <th scope="col">Students</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (hostels == null)
        {
          <tr>
            <td colspan="3">Loading...</td>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (hostels.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var hostel in hostels)
          {
            <tr>
              <td>@hostel.Id</td>

              <td>@hostel?.Name</td>
              @* ListItemCodePlaceholder *@

              <td>
                <a href="@("/admin/hostel-edit/" + hostel?.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/hostel-edit">Create</a>
  </article>
</section>

@code {
  List<HostelAdminDto>? hostels = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    hostels = await HostelAdminRepository.GetAllAsync(userName);
  }
}
