@page "/admin/hostel"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Hostel Home</PageTitle>

<h1>Hostel Home</h1>
<h6><a href="/admin/hostel/add">Create New</a></h6>

<div class="container-fluid">
  <table class="table table-hover table-primary table-striped">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
        @* TableHeaderCodePlaceholder *@
      </tr>
    </thead>
    <tbody>
      @if (hostels is not null)
      {
        @foreach (var hostel in hostels)
        {
          <tr>
            <td>
              <div class="btn-group">
                <a class="btn btn-primary btn-sm btn-info" href="/admin/hostel/view/@hostel.Id" title="View">
                  <i class="bi bi-eye"></i>
                </a>
                <a class="btn btn-primary btn-sm" href="/admin/hostel/edit/@hostel.Id" title="Edit">
                  <i class="bi bi-pencil"></i>
                </a>
              </div>
            </td>
            <td>@hostel?.Name</td>
            @* TableRowCodePlaceholder *@
          </tr>
        }
      }
    </tbody>
  </table>
</div>

@code {
  private ICollection<Hostel>? hostels { get; set; }

  protected override async Task OnParametersSetAsync()
  {
    await ReloadAsync();
  }

  private async Task ReloadAsync()
  {
    hostels = new List<Hostel>();

    using var context = DbFactory.CreateDbContext();
    var query = context.Hostels?.AsQueryable();

    if (query is not null)
    {
      hostels = await query
        @* QueryIncludeCodePlaceholder *@
        .AsNoTracking().ToListAsync();
    }
  }
}

