@inject IStudentFilters Filters

@if (CurrentStudent is not null)
{
    <div class="row Student-detail">
        <div class="col-2 text-right">
            <a title="Edit" href="admin/student/edit/@CurrentStudent.Id" style="text-decoration:none">
                &nbsp;📝&nbsp;
            </a>
            @if (CanDelete)
            {
                <span @onclick="DeleteRequestAsync"
                      title="Delete" class="clickable red">❌</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
            &nbsp;
        </div>

        <div class="col-3">
            <a href="@ViewLink" alt="View Details"
               title="View Details">
                @CurrentStudent.Id
            </a>
        </div>

        @if (!DeleteConfirmation)
        {
            @* RowColumnCodePlaceholder *@
        }
        else
        {
            <div class="col-9">
                <DeletePrompt Confirmation="ConfirmAsync" />
            </div>
        }
    </div>
}

@code {
    private Student _currentStudent = new Student();

    // Student being rendered.
    [Parameter]
    public Student CurrentStudent
    {
        get => _currentStudent;
        set
        {
            if (value is not null && !value.Equals(_currentStudent))
            {
                _currentStudent = value;
                DeleteConfirmation = false;
            }
        }
    }

    // Event to raise when a HumanNamePlaceholder delete is requested.
    [Parameter]
    public EventCallback DeleteStudent { get; set; }

    // Overall wrapper of functionality.
    [CascadingParameter]
    public GridWrapper? Wrapper { get; set; }

    // Returns True if conditions for delete are met.
    private bool CanDelete =>
        !DeleteConfirmation && (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true || Wrapper?.DeleteRequestId.Equals(CurrentStudent?.Id) == true);

    // Navigate to view.
    private string ViewLink => $"admin/student/view/{CurrentStudent?.Id}";

    // Confirm the delete.
    private bool DeleteConfirmation { get; set; }

    // Called based on confirmation.
    // confirmed: True when confirmed.
    private async Task ConfirmAsync(bool confirmed)
    {
        if (confirmed)
        {
            await DeleteAsync();
        }
        else
        {
            DeleteConfirmation = false;

            if (Wrapper is not null)
            {
                await Wrapper.DeleteRequested.InvokeAsync(Guid.Empty);
            }
        }
    }

    /// Set delete to true.
    private async Task DeleteRequestAsync()
    {
        if (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true)
        {
            DeleteConfirmation = true;
            await Wrapper.DeleteRequested.InvokeAsync(CurrentStudent.Id);
        }
    }

    // Deletes the Student.
    private Task DeleteAsync() => DeleteStudent.InvokeAsync(this);
}
